footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 5rem 0;
}

footer>img {
    width: 45vw;
    height: 25vw;
    border-radius: 15px;
    object-fit: cover;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer>.body {
    color: white;
}

footer>.body>.phone-number,
footer>.body>.email,
footer>.body>.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer>.body>h2 {
    font-weight: 700;
}

footer>.body>.phone-number>i,
footer>.body>.phone-number>p {
    margin: 0;
}

footer>.body>.links {
    font-size: 36px;
}

@media (max-width: 750px) {
    footer>img {
        width: 75vw;
        height: 50vw;
    }
}